<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hfq.house.manager.mapper.HouseSettingMapper">


	<sql id="columns">
		a.id,
		a.f_house_sell_id,
		a.f_room_id,
		a.f_setting_code,
		a.f_setting_nums,
		a.f_setting_position,
		a.f_category_type,
		a.f_setting_name,
		a.f_setting_price,
		a.f_setting_cost,
		a.f_is_completed,
		a.f_completed_date,
		a.f_is_delete,
		a.f_creation_date,
		a.f_last_change_date
	</sql>
	<!--查询结果集 -->
	<resultMap id="beanMap"
		type="com.hfq.house.manager.entity.model.HouseSetting">
		<result property="id" column="id" />
		<result property="houseSellId" column="f_house_sell_id" />
		<result property="roomId" column="f_room_id" />
		<result property="settingCode" column="f_setting_code" />
		<result property="settingNums" column="f_setting_nums" />
		<result property="settingPosition" column="f_setting_position" />
		<result property="categoryType" column="f_category_type" />
		<result property="settingName" column="f_setting_name" />
		<result property="settingPrice" column="f_setting_price" />
		<result property="settingCost" column="f_setting_cost" />
		<result property="isCompleted" column="f_is_completed" />
		<result property="completedDate" column="f_completed_date" />
		<result property="isDelete" column="f_is_delete" />
		<result property="creationDate" column="f_creation_date" />
		<result property="lastChangeDate" column="f_last_change_date" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="beanMap">
		select
		<include refid="columns" />
		from t_house_setting a
		where a.id = #{id}
	</select>

	<select id="selectSettingBySellIdAndRoomId" resultMap="beanMap">
		select
		<include refid="columns" />
		from t_house_setting a
		<where>
			<if test="houseSellId!= null ">
				a.f_house_sell_id=#{houseSellId}
			</if>
			<if test="roomId != null">
				and a.f_room_id=#{roomId}
			</if>
			and a.f_is_delete = 0
		</where>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.hfq.house.manager.entity.model.HouseSetting">
		insert into t_house_setting
		(f_house_sell_id, f_room_id, f_setting_code, f_category_type, f_creation_date)
		values
		(#{houseSellId}, #{roomId}, #{settingCode}, #{categoryType}, now())
	</insert>

	<!-- 选择更新 -->
	<update id="updateIsDeleteById">
		UPDATE t_house_setting a set a.f_is_delete =
		#{delete}
		WHERE a.id = #{settingId}
	</update>
</mapper>